.main-chat
  .main-chat__group-info
    .main-chat__group-info__left
      %h2
        test
      %p
        Menmber: name
    = link_to "#", class: "main-chat__group-info__edit_btn" do
      Edit
  .main-chat__message-list
    .main-chat__message-list__title
      .main-chat__message-list__title__name
        name
      .main-chat__message-list__title__date
        2020/04/25(Sat) 00:53:20
    .main-chat__message-list__text
      おはよう！
    .main-chat__message-list__title
      .main-chat__message-list__title__name
        name
      .main-chat__message-list__title__date
        2020/04/25(Sat) 00:53:20
    .main-chat__message-list__text
      おはよう！
    .main-chat__message-list__title
      .main-chat__message-list__title__name
        name
      .main-chat__message-list__title__date
        2020/04/25(Sat) 00:53:20
    .main-chat__message-list__text
      おはよう！
  .main-chat__message-form