.main-chat
  .main-chat__group-info
    .main-chat__group-info__left
      %h2
        test
      %p
        Menmber: name
    = link_to "#", class: "main-chat__group-info__edit_btn" do
      Edit
  .main-chat__message-list
  .main-chat__message-form