* {
  box-sizing: border-box;
}

.side-bar {
  background-color: #253141;
  width: 300px;
  float: left;
  height: 100vh;
}
.main-chat {
  background-color: #ffffff;
  width: calc(100vw - 300px);
  float: right;
  height: 100vh;
}